.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* Proporção 16:9 */
    max-width: 85%; /* Limita a largura ao tamanho do container */
    margin: 0 auto; /* Centraliza o vídeo */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #6f42c1; /* Cor de fundo roxa */
    color: white; /* Cor do texto */
}

.btn-roxo {
    background-color: #6f42c1; /* Cor roxa */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda */
}

.btn-roxo:hover {
    background-color: #5a32a1; /* Cor mais escura ao passar o mouse */
}